<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>回头客物流跟踪系统</title>
</head>
<body>    
</body>
<script src="../assets/js/jquery-1.10.2.js"></script>
<script src="../assets/js/httpUtil.js"></script>
<script src="../assets/js/common.js"></script>
<script>
	$(function() {
		var expressId=getQueryString("expressId");
		var t=getQueryString("t");
		var formData = {
				"expressId" :expressId,
				"t":t
			}
			formPost4Json(
					"/qrScan/clientQrScan",
					formData,
					function(data, httpOptions, status) {
						if (checkErrorDatas(data, httpOptions)) {
							alert(data.result);
						}
					});

		
	});
	function getQueryString(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
		var r = window.location.search.substr(1).match(reg);
		if (r != null)
			return unescape(r[2]);
		return null;
	}
</script>
</html>
